$theme-transition: 0.2s;

$themes: (
  light: (
    src-logo: url('~@/assets/img/logo-dark.png'),
    color: black,
    color-secondary: rgb(64, 64, 64),
    color-secondary-hover: black,
    background-color-header: white,
    background-color-content: #f8f8f8,
    background-color-popover: white,
    background-color-file-uploader: white,
    background-color-page-shadow: rgba(237, 237, 237, 0.84),
    background-color-lang-select-toggler: white,
    background-color-lang-select-option: rgb(207, 207, 207),
    background-color-lang-select-option-hover: #c0c4cc,
    border-color: #c0c4cc
  ),
  dark: (
    src-logo: url('~@/assets/img/logo-light.png'),
    color: white,
    color-secondary: rgb(167, 167, 167),
    color-secondary-hover: white,
    background-color-header: black,
    background-color-content: black,
    background-color-popover: black,
    background-color-file-uploader: black,
    background-color-page-shadow: rgba(120, 120, 120, 0.84),
    background-color-lang-select-toggler: black,
    background-color-lang-select-option: rgb(31, 31, 31),
    background-color-lang-select-option-hover: #3a3a3a,
    border-color: white
  )
);

$src-logo: 'src-logo';

$color: 'color';
$color-secondary: 'color-secondary';
$color-secondary-hover: 'color-secondary-hover';

$background-color-header: 'background-color-header';
$background-color-content: 'background-color-content';
$background-color-popover: 'background-color-popover';
$background-color-file-uploader: 'background-color-file-uploader';
$background-color-page-shadow: 'background-color-page-shadow';
$background-color-lang-select-toggler: 'background-color-lang-select-toggler';
$background-color-lang-select-option: 'background-color-lang-select-option';
$background-color-lang-select-option-hover: 'background-color-lang-select-option-hover';

$border-color: 'border-color';
