// https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
@import './themes';

@mixin themed() {
  @each $theme, $theme-entries in $themes {
    .app-body_#{$theme} & {
      $theme-map: () !global;
      @each $key, $theme-entry in $theme-entries {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
            transition: all $theme-transition
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
