$theme-transition: 0.3s;

$themes: (
  light: (
    src-logo: url('~@/assets/img/logo-dark.png'),
    color: black,
    color-red: #dc3d3d,
    color-secondary: rgb(81, 81, 81),
    color-secondary-hover: black,
    border-color: #c0c4cc,
    background-color-popover: #ffffff,
    background-color-page-shadow: rgba(237, 237, 237, 0.84),
    background-color-overlay: rgba(237, 237, 237, 0.95),
    background-color-feature: #efefef,
    // UIButton
      color-button: white,
    color-button-hover: white,
    background-color-button: #343434,
    background-color-button-hover: #5e5e5e,
    // Layout
      background-color-header: white,
    background-color-content: #f8f8f8,
    // FileUploader
      background-color-file-uploader: white,
    // LangSelect
      background-color-lang-select-toggler: white,
    background-color-lang-select-option: rgb(244, 244, 244),
    background-color-lang-select-option-hover: #c0c4cc
  ),
  dark: (
    src-logo: url('~@/assets/img/logo-light.png'),
    color: #ededed,
    color-secondary: #b8b8b8,
    color-secondary-hover: white,
    border-color: #4f4f4f,
    background-color-popover: #313438,
    background-color-page-shadow: rgba(120, 120, 120, 0.84),
    background-color-overlay: rgba(25, 25, 25, 0.95),
    background-color-feature: #43454a,
    // UIButton
      color-button: #272a31,
    color-button-hover: #000000,
    background-color-button: #f9f9f9,
    background-color-button-hover: #d8d8d8,
    // Layout
      background-color-header: #313438,
    background-color-content: #272a31,
    // FileUploader
      background-color-file-uploader: #313438,
    // LangSelect
      background-color-lang-select-toggler: black,
    background-color-lang-select-option: #2a2a2a,
    background-color-lang-select-option-hover: #3a3a3a
  )
);

$src-logo: 'src-logo';

$color: 'color';
$color-red: 'color-red';
$color-secondary: 'color-secondary';
$color-secondary-hover: 'color-secondary-hover';
$color-button: 'color-button';
$color-button-hover: 'color-button-hover';

$background-color-header: 'background-color-header';
$background-color-content: 'background-color-content';
$background-color-popover: 'background-color-popover';
$background-color-file-uploader: 'background-color-file-uploader';
$background-color-page-shadow: 'background-color-page-shadow';
$background-color-overlay: 'background-color-overlay';
$background-color-feature: 'background-color-feature';
$background-color-lang-select-toggler: 'background-color-lang-select-toggler';
$background-color-lang-select-option: 'background-color-lang-select-option';
$background-color-lang-select-option-hover: 'background-color-lang-select-option-hover';
$background-color-button: 'background-color-button';
$background-color-button-hover: 'background-color-button-hover';

$border-color: 'border-color';
